**the wisdom of crowds**  
**social proof**

In [1]:
import pandas as pd
import math
import scipy.stats as st
from sklearn.preprocessing import MinMaxScaler

pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.width',500)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('display.float_format',lambda x:'%.5f' % x)

In [2]:
df=pd.read_csv('/content/course_reviews.csv')
df.head()

   Rating            Timestamp             Enrolled  Progress  Questions Asked  Questions Answered
0 5.00000  2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000
1 5.00000  2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000
2 4.50000  2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000
3 5.00000  2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000
4 4.00000  2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000

In [3]:
df.shape

(4323, 6)

In [4]:
#rating dagılımı
df['Rating'].value_counts()

Rating
5.00000    3267
4.50000     475
4.00000     383
3.50000      96
3.00000      62
1.00000      15
2.00000      12
2.50000      11
1.50000       2
Name: count, dtype: int64

In [5]:
df['Questions Asked'].value_counts()

Questions Asked
0.00000     3867
1.00000      276
2.00000       80
3.00000       43
4.00000       15
5.00000       13
6.00000        9
8.00000        5
9.00000        3
14.00000       2
11.00000       2
7.00000        2
15.00000       2
10.00000       2
22.00000       1
12.00000       1
Name: count, dtype: int64

In [6]:
df.groupby('Questions Asked').agg({'Questions Asked':'count',
                                   'Rating':'mean'})

                 Questions Asked  Rating
Questions Asked
0.00000                     3867 4.76519
1.00000                      276 4.74094
2.00000                       80 4.80625
3.00000                       43 4.74419
4.00000                       15 4.83333
5.00000                       13 4.65385
6.00000                        9 5.00000
7.00000                        2 4.75000
8.00000                        5 4.90000
9.00000                        3 5.00000
10.00000                       2 5.00000
11.00000                       2 5.00000
12.00000                       1 5.00000
14.00000                       2 4.50000
15.00000                       2 3.00000
22.00000                       1 5.00000

In [7]:
# ortalama puan
df['Rating'].mean()

np.float64(4.764284061993986)

**Time - Based Weighted Average**

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rating              4323 non-null   float64
 1   Timestamp           4323 non-null   object
 2   Enrolled            4323 non-null   object
 3   Progress            4323 non-null   float64
 4   Questions Asked     4323 non-null   float64
 5   Questions Answered  4323 non-null   float64
dtypes: float64(4), object(2)
memory usage: 202.8+ KB

In [9]:
df['Timestamp']=pd.to_datetime(df['Timestamp'])

In [10]:
df.head()

   Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered
0 5.00000 2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000
1 5.00000 2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000
2 4.50000 2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000
3 5.00000 2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000
4 4.00000 2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000

In [11]:
current_date=pd.to_datetime('2021-02-11 0:0:0')

In [12]:
df['days']=(current_date-df['Timestamp']).dt.days

In [13]:
# son 30 gun icindeki yorumlar
df[df['days']<=30]

     Rating           Timestamp             Enrolled  Progress  Questions Asked  Questions Answered  days
0   5.00000 2021-02-05 07:45:55  2021-01-25 15:12:08   5.00000          0.00000             0.00000     5
1   5.00000 2021-02-04 21:05:32  2021-02-04 20:43:40   1.00000          0.00000             0.00000     6
2   4.50000 2021-02-04 20:34:03  2019-07-04 23:23:27   1.00000          0.00000             0.00000     6
3   5.00000 2021-02-04 16:56:28  2021-02-04 14:41:29  10.00000          0.00000             0.00000     6
4   4.00000 2021-02-04 15:00:24  2020-10-13 03:10:07  10.00000          0.00000             0.00000     6
5   4.00000 2021-02-04 12:42:36  2021-02-01 15:40:13   1.00000          0.00000             0.00000     6
6   5.00000 2021-02-04 12:25:30  2020-11-30 19:23:54  85.00000          0.00000             4.00000     6
7   4.50000 2021-02-04 11:13:15  2021-01-08 08:05:42  10.00000          0.00000             0.00000     6
8   5.00000 2021-02-04 08:59:53  2021-02-02 18:14:49   1.00000          0.00000             0.00000     6
9   5.00000 2021-02-03 22:40:04  2020-08-01 22:30:42  35.00000          0.00000             0.00000     7
10  5.00000 2021-02-03 21:26:02  2021-02-01 09:54:49   5.00000          0.00000             0.00000     7
11  5.00000 2021-02-03 21:14:25  2021-02-01 18:45:00   1.00000          0.00000             0.00000     7
12  5.00000 2021-02-03 20:55:19  2021-02-03 20:00:04  10.00000          0.00000             0.00000     7
13  3.00000 2021-02-03 19:16:45  2021-02-03 18:42:21   1.00000          0.00000             0.00000     7
14  5.00000 2021-02-03 19:08:33  2020-03-29 09:07:41  93.00000          1.00000             0.00000     7
15  5.00000 2021-02-03 18:57:11  2020-03-19 19:28:43   1.00000          0.00000             0.00000     7
16  2.50000 2021-02-03 18:56:58  2021-02-01 09:23:31   5.00000          0.00000             0.00000     7
17  5.00000 2021-02-03 17:21:45  2021-01-28 20:46:12   5.00000          0.00000             0.00000     7
18  5.00000 2021-02-03 17:12:26  2019-07-25 08:04:26  35.00000          0.00000             0.00000     7
19  5.00000 2021-02-03 16:13:36  2021-02-02 07:15:55   5.00000          0.00000             0.00000     7
20  4.00000 2021-02-02 23:55:23  2021-02-02 17:47:41   1.00000          0.00000             0.00000     8
21  5.00000 2021-02-02 22:34:25  2021-01-19 22:29:49   5.00000          0.00000             0.00000     8
22  5.00000 2021-02-02 21:59:49  2021-01-03 19:42:39  35.00000          0.00000             0.00000     8
23  5.00000 2021-02-02 18:00:59  2021-01-27 13:11:18   1.00000          0.00000             0.00000     8
24  5.00000 2021-02-02 16:29:58  2021-02-02 16:10:52  15.00000          0.00000             0.00000     8
25  5.00000 2021-02-02 14:30:03  2020-04-04 22:14:15  25.00000          0.00000             0.00000     8
26  5.00000 2021-02-02 12:54:25  2021-02-02 09:07:03  15.00000          0.00000             0.00000     8
27  5.00000 2021-02-02 12:02:59  2020-09-20 12:26:30   1.00000          0.00000             0.00000     8
28  5.00000 2021-02-02 11:58:42  2021-02-02 10:07:22  20.00000          0.00000             0.00000     8
29  5.00000 2021-02-02 10:47:54  2020-08-20 19:14:01   5.00000          0.00000             0.00000     8
30  5.00000 2021-02-02 04:58:56  2021-01-31 14:58:49  15.00000          0.00000             0.00000     8
31  5.00000 2021-02-01 21:27:36  2021-01-24 17:58:23  65.00000          0.00000             0.00000     9
32  5.00000 2021-02-01 19:27:59  2021-02-01 12:08:22   1.00000          0.00000             0.00000     9
33  4.50000 2021-02-01 13:09:17  2021-02-01 11:14:17  10.00000          0.00000             0.00000     9
34  5.00000 2021-02-01 12:16:46  2021-02-01 06:15:18  40.00000          0.00000             0.00000     9
35  4.50000 2021-02-01 09:29:56  2021-01-29 08:29:31  15.00000          0.00000             0.00000     9
36  5.00000 2021-02-01 07:57:43  2020-11-22 16:09:36   1.00000          0.00000             0.00000     9
37  5.00000 2021-02-01 06:03:40  2021-01-30 10:23:03   1.00000          0.00000             0.00000     9
38  5.00000 2021-01-31 21:45:28  2021-01-31 21:29:47   1.00000          0.00000             0.00000    10
39  5.00000 2021-01-31 20:52:42  2019-11-18 11:37:06   0.00000          0.00000             0.00000    10
40  3.50000 2021-01-31 19:48:51  2020-12-21 16:29:26  20.00000          0.00000             0.00000    10
41  4.50000 2021-01-31 19:34:20  2021-01-07 23:14:52   5.00000          0.00000             0.00000    10
42  5.00000 2021-01-31 18:59:27  2021-01-13 09:37:26   5.00000          0.00000             0.00000    10
43  3.50000 2021-01-31 18:07:01  2021-01-25 10:17:43   1.00000          0.00000             0.00000    10
44  5.00000 2021-01-31 16:02:14  2021-01-06 10:56:43  35.00000          0.00000             0.00000    10
45  5.00000 2021-01-31 15:45:39  2021-01-30 12:58:11  15.00000          0.00000             0.00000    10
46  4.50000 2021-01-31 15:23:46  2019-09-26 09:11:42   1.00000          0.00000             0.00000    10
47  5.00000 2021-01-31 14:13:32  2021-01-31 11:01:52  10.00000          0.00000             0.00000    10
48  4.50000 2021-01-31 11:23:24  2021-01-18 20:24:40  20.00000          0.00000             0.00000    10
49  5.00000 2021-01-31 08:48:53  2020-04-05 03:00:25   5.00000          0.00000             0.00000    10
50  5.00000 2021-01-31 08:05:53  2020-06-19 09:33:06  15.00000          0.00000             0.00000    10
51  5.00000 2021-01-30 22:17:08  2020-12-20 14:12:51  15.00000          0.00000             0.00000    11
52  5.00000 2021-01-30 18:47:09  2020-12-02 13:50:48  10.00000          0.00000             0.00000    11
53  4.00000 2021-01-30 18:00:45  2021-01-30 15:57:15   5.00000          0.00000             0.00000    11
54  5.00000 2021-01-30 17:46:47  2020-12-11 18:14:02  15.00000          0.00000             0.00000    11
55  5.00000 2021-01-30 16:57:13  2021-01-25 21:45:33  25.00000          0.00000             0.00000    11
56  5.00000 2021-01-30 16:25:44  2020-12-19 14:24:20  10.00000          0.00000             0.00000    11
57  3.00000 2021-01-30 13:44:07  2021-01-30 13:29:10   5.00000          0.00000             0.00000    11
58  5.00000 2021-01-30 12:35:03  2021-01-29 15:04:39  20.00000          0.00000             0.00000    11
59  5.00000 2021-01-30 12:10:22  2021-01-08 13:01:12  10.00000          0.00000             0.00000    11
60  5.00000 2021-01-30 11:45:02  2020-10-01 22:02:51  10.00000          0.00000             0.00000    11
61  5.00000 2021-01-30 11:28:26  2021-01-28 11:56:46  25.00000          0.00000             0.00000    11
62  5.00000 2021-01-30 10:19:14  2021-01-27 17:39:07  10.00000          0.00000             0.00000    11
63  5.00000 2021-01-29 22:30:04  2021-01-25 11:14:11  12.00000          0.00000             0.00000    12
64  5.00000 2021-01-29 20:57:29  2021-01-25 12:44:46   5.00000          0.00000             0.00000    12
65  4.00000 2021-01-29 19:51:08  2021-01-29 15:07:15  10.00000          0.00000             0.00000    12
66  5.00000 2021-01-29 18:07:02  2020-10-21 14:07:39  15.00000          0.00000             0.00000    12
67  5.00000 2021-01-29 17:54:38  2021-01-24 19:57:27  40.00000          0.00000             0.00000    12
68  5.00000 2021-01-29 15:52:18  2021-01-29 14:50:13  10.00000          0.00000             0.00000    12
69  5.00000 2021-01-29 13:50:57  2021-01-25 12:33:50   5.00000          0.00000             0.00000    12
70  5.00000 2021-01-29 13:38:44  2020-11-18 12:17:20  25.00000          0.00000             0.00000    12
71  3.50000 2021-01-29 11:36:47  2021-01-29 07:34:41  10.00000          1.00000             0.00000    12
72  4.50000 2021-01-29 11:12:09  2021-01-29 10:48:00  30.00000          0.00000             0.00000    12
73  5.00000 2021-01-29 07:49:51  2020-12-24 09:02:22   1.00000          0.00000             0.00000    12
74  5.00000 2021-01-29 06:34:40  2020-12-11 15:27:55  25.00000          0.00000             0.00000    12
75  4.50000 2021-01-28 20:17:56  2020-08-21 05:03:49   5.00000          0.00000             0.00000    13
76  5.00000 2021-01-28 17:33:55  2020-12-16 16:24:54  10.00000          0.00000             0.00000    13
77  5.00000 2021-01-28 10:09:21  2021-01-27 08:43:49   1.00000          0.00000             0.00000    13
78  5.00000 2021-01-28 08:35:46  2020-12-01 15:11:04   5.00000          0.00000             0.00000    13
79  5.00000 2021-01-27 22:36:15  2021-01-25 12:45:43  25.00000          0.00000             0.00000    14
80  5.00000 2021-01-27 22:25:12  2021-01-01 16:29:47   1.00000          0.00000             0.00000    14
81  5.00000 2021-01-27 21:25:43  2021-01-22 13:20:49  50.00000          0.00000             0.00000    14
82  4.00000 2021-01-27 20:46:02  2021-01-27 20:29:57  35.00000          0.00000             0.00000    14
83  5.00000 2021-01-27 19:20:43  2020-12-21 14:59:05  15.00000          0.00000             0.00000    14
84  4.00000 2021-01-27 18:56:24  2021-01-21 18:29:24  20.00000          0.00000             0.00000    14
85  5.00000 2021-01-27 17:21:08  2021-01-19 16:25:49   5.00000          0.00000             0.00000    14
86  5.00000 2021-01-27 14:16:50  2020-02-27 18:19:16  30.00000          0.00000             0.00000    14
87  5.00000 2021-01-27 09:01:39  2021-01-20 15:02:50  20.00000          0.00000             0.00000    14
88  5.00000 2021-01-27 07:19:53  2021-01-05 08:30:51  20.00000          0.00000             0.00000    14
89  4.50000 2021-01-26 20:35:29  2021-01-26 14:48:57  15.00000          1.00000             0.00000    15
90  5.00000 2021-01-26 20:31:50  2019-11-16 07:51:59  45.00000          0.00000             0.00000    15
91  5.00000 2021-01-26 18:21:17  2020-12-01 19:33:38  30.00000          0.00000             0.00000    15
92  5.00000 2021-01-26 12:46:00  2020-12-29 07:29:58   5.00000          0.00000             0.00000    15
93  5.00000 2021-01-26 11:36:24  2020-01-08 12:52:26  40.00000          0.00000             0.00000    15
94  4.00000 2021-01-26 11:10:07  2020-11-05 11:06:13  15.00000          0.00000             0.00000    15
95  5.00000 2021-01-26 11:06:34  2021-01-01 11:27:34  20.00000          0.00000             0.00000    15
96  5.00000 2021-01-26 09:16:21  2020-11-30 19:35:46   1.00000          0.00000             0.00000    15
97  2.00000 2021-01-26 07:56:03  2020-03-23 16:51:55   5.00000          0.00000             0.00000    15
98  5.00000 2021-01-25 17:32:32  2020-12-24 17:13:40   5.00000          0.00000             0.00000    16
99  4.50000 2021-01-25 15:09:45  2021-01-25 07:29:07  50.00000          0.00000             0.00000    16
100 5.00000 2021-01-25 10:39:05  2021-01-24 22:35:42   5.00000          0.00000             0.00000    16
101 5.00000 2021-01-24 18:47:59  2020-03-19 20:57:23   5.00000          0.00000             0.00000    17
102 5.00000 2021-01-24 15:14:33  2019-05-30 07:59:23  15.00000          0.00000             0.00000    17
103 4.50000 2021-01-24 14:03:11  2021-01-01 16:46:36   5.00000          0.00000             0.00000    17
104 5.00000 2021-01-24 12:46:01  2021-01-04 18:28:21  30.00000          0.00000             0.00000    17
105 4.00000 2021-01-24 12:28:11  2021-01-24 08:25:55  15.00000          0.00000             0.00000    17
106 5.00000 2021-01-24 10:51:47  2020-12-29 20:02:35  15.00000          0.00000             0.00000    17
107 5.00000 2021-01-24 08:43:13  2020-12-02 07:32:55  50.00000          0.00000             0.00000    17
108 4.50000 2021-01-23 22:44:03  2020-04-05 11:02:47  35.00000          0.00000             0.00000    18
109 4.50000 2021-01-23 19:24:26  2020-12-31 21:38:12   1.00000          0.00000             0.00000    18
110 5.00000 2021-01-23 18:57:28  2021-01-23 12:43:47  25.00000          0.00000             0.00000    18
111 5.00000 2021-01-23 17:46:26  2021-01-14 19:11:17  20.00000          0.00000             0.00000    18
112 5.00000 2021-01-22 19:11:38  2020-12-04 17:17:47  80.00000          1.00000             2.00000    19
113 4.00000 2021-01-22 09:08:13  2021-01-21 09:33:33   5.00000          0.00000             0.00000    19
114 5.00000 2021-01-22 08:08:05  2021-01-19 07:14:58   5.00000          0.00000             0.00000    19
115 5.00000 2021-01-21 22:11:40  2020-01-09 19:10:29  10.00000          0.00000             0.00000    20
116 5.00000 2021-01-21 18:44:16  2021-01-20 09:42:12  25.00000          0.00000             0.00000    20
117 5.00000 2021-01-21 17:17:27  2020-05-01 15:14:45  30.00000          0.00000             0.00000    20
118 4.50000 2021-01-21 15:22:42  2021-01-21 08:55:44   1.00000          0.00000             0.00000    20
119 5.00000 2021-01-21 11:49:21  2021-01-20 05:30:17   5.00000          0.00000             0.00000    20
120 5.00000 2021-01-21 09:27:41  2021-01-03 20:18:04   5.00000          0.00000             0.00000    20
121 5.00000 2021-01-21 08:46:45  2021-01-20 15:22:05  15.00000          0.00000             0.00000    20
122 5.00000 2021-01-21 05:41:13  2021-01-20 12:51:01  65.00000          0.00000             0.00000    20
123 5.00000 2021-01-20 20:00:20  2021-01-06 18:57:09  15.00000          0.00000             0.00000    21
124 4.50000 2021-01-20 19:50:41  2020-11-21 14:15:10  10.00000          0.00000             0.00000    21
125 5.00000 2021-01-20 18:37:29  2021-01-20 01:30:36  20.00000          0.00000             0.00000    21
126 5.00000 2021-01-20 17:12:19  2019-06-04 11:16:37   0.00000          0.00000             0.00000    21
127 5.00000 2021-01-19 22:56:44  2020-09-14 17:31:02  30.00000          0.00000             0.00000    22
128 5.00000 2021-01-19 16:50:09  2020-12-03 06:38:25  15.00000          0.00000             0.00000    22
129 5.00000 2021-01-19 14:27:28  2020-12-15 13:47:25  20.00000          0.00000             0.00000    22
130 5.00000 2021-01-19 11:03:03  2021-01-19 10:39:32   1.00000          0.00000             0.00000    22
131 5.00000 2021-01-19 10:14:39  2021-01-14 11:26:58  10.00000          0.00000             0.00000    22
132 3.50000 2021-01-19 01:29:01  2021-01-08 12:41:54  10.00000          0.00000             0.00000    22
133 5.00000 2021-01-18 23:19:50  2020-04-05 09:22:46   1.00000          0.00000             0.00000    23
134 5.00000 2021-01-18 21:09:08  2021-01-17 20:11:03  10.00000          0.00000             0.00000    23
135 5.00000 2021-01-17 22:33:40  2019-11-13 12:05:03  10.00000          0.00000             0.00000    24
136 5.00000 2021-01-17 22:22:24  2020-12-26 13:25:30   1.00000          0.00000             0.00000    24
137 5.00000 2021-01-17 19:45:29  2021-01-08 12:29:06  20.00000          0.00000             0.00000    24
138 5.00000 2021-01-17 19:09:36  2021-01-15 08:00:12  60.00000          0.00000             0.00000    24
139 5.00000 2021-01-17 18:39:44  2021-01-02 17:04:13  30.00000          0.00000             0.00000    24
140 5.00000 2021-01-17 17:35:20  2021-01-15 10:03:31  35.00000          0.00000             0.00000    24
141 4.50000 2021-01-17 14:35:23  2021-01-05 19:25:51  10.00000          0.00000             0.00000    24
142 5.00000 2021-01-17 14:24:30  2021-01-05 20:51:18  15.00000          1.00000             0.00000    24
143 5.00000 2021-01-17 12:24:18  2021-01-17 06:54:32  45.00000          0.00000             0.00000    24
144 4.50000 2021-01-17 11:13:09  2021-01-13 18:17:40   5.00000          0.00000             0.00000    24
145 5.00000 2021-01-17 10:52:33  2021-01-16 11:51:13   5.00000          0.00000             0.00000    24
146 5.00000 2021-01-17 03:29:40  2020-11-25 23:25:34  30.00000          0.00000             0.00000    24
147 5.00000 2021-01-17 00:04:38  2020-12-26 17:57:07   1.00000          0.00000             0.00000    24
148 5.00000 2021-01-16 22:22:44  2021-01-08 20:58:17   1.00000          0.00000             0.00000    25
149 5.00000 2021-01-16 22:16:16  2020-12-26 13:25:21  20.00000          0.00000             0.00000    25
150 5.00000 2021-01-16 17:43:14  2020-01-09 08:29:43  35.00000          0.00000             0.00000    25
151 5.00000 2021-01-16 16:57:18  2021-01-15 19:43:44  10.00000          0.00000             0.00000    25
152 5.00000 2021-01-16 16:49:29  2021-01-16 16:08:01  10.00000          2.00000             0.00000    25
153 5.00000 2021-01-16 14:54:39  2020-11-29 19:47:39  15.00000          0.00000             0.00000    25
154 4.00000 2021-01-16 13:54:39  2021-01-16 13:43:15  30.00000          0.00000             0.00000    25
155 4.00000 2021-01-16 13:36:37  2021-01-16 11:13:02   5.00000          0.00000             0.00000    25
156 5.00000 2021-01-16 13:02:42  2021-01-13 06:03:42   5.00000          0.00000             0.00000    25
157 5.00000 2021-01-16 12:33:22  2021-01-12 09:50:58  15.00000          0.00000             0.00000    25
158 4.50000 2021-01-16 11:17:22  2020-12-03 16:58:41   1.00000          0.00000             0.00000    25
159 5.00000 2021-01-16 08:44:28  2019-11-23 18:30:38  35.00000          0.00000             1.00000    25
160 4.50000 2021-01-15 22:51:07  2020-10-06 20:33:46  10.00000          0.00000             0.00000    26
161 5.00000 2021-01-15 20:34:11  2021-01-08 10:40:17  20.00000          0.00000             0.00000    26
162 5.00000 2021-01-15 18:47:51  2021-01-06 21:16:57   5.00000          0.00000             0.00000    26
163 5.00000 2021-01-15 18:05:05  2021-01-15 14:56:01   1.00000          0.00000             0.00000    26
164 5.00000 2021-01-15 15:19:00  2020-12-18 18:38:20  10.00000          0.00000             0.00000    26
165 5.00000 2021-01-14 21:26:27  2021-01-12 09:08:10  10.00000          0.00000             0.00000    27
166 5.00000 2021-01-14 14:03:14  2020-12-22 11:43:45  30.00000          0.00000             0.00000    27
167 4.50000 2021-01-13 21:49:32  2019-11-27 14:10:04 100.00000          2.00000             1.00000    28
168 4.00000 2021-01-13 12:16:51  2021-01-12 08:58:53  20.00000          0.00000             0.00000    28
169 5.00000 2021-01-13 09:15:07  2020-08-28 11:12:39   0.00000          0.00000             0.00000    28
170 5.00000 2021-01-13 06:49:33  2021-01-13 06:26:26  20.00000          0.00000             0.00000    28
171 5.00000 2021-01-13 00:22:06  2019-05-30 22:33:09   1.00000          0.00000             0.00000    28
172 5.00000 2021-01-12 19:25:14  2021-01-12 19:09:54  10.00000          0.00000             0.00000    29
173 3.00000 2021-01-12 11:21:08  2020-10-22 09:34:15   1.00000          0.00000             0.00000    29
174 5.00000 2021-01-12 09:51:38  2020-11-23 18:10:54 100.00000          0.00000             0.00000    29
175 5.00000 2021-01-12 05:29:55  2020-09-16 17:43:06  20.00000          0.00000             0.00000    29
176 4.00000 2021-01-12 04:01:50  2020-09-26 13:20:49  25.00000          0.00000             0.00000    29
177 5.00000 2021-01-11 22:49:08  2021-01-11 22:25:12   1.00000          0.00000             0.00000    30
178 5.00000 2021-01-11 22:17:47  2020-08-17 16:31:53   1.00000          0.00000             0.00000    30
179 4.50000 2021-01-11 20:42:42  2021-01-10 12:10:42  10.00000          0.00000             0.00000    30
180 4.50000 2021-01-11 20:31:28  2021-01-09 15:26:27   5.00000          0.00000             0.00000    30
181 5.00000 2021-01-11 20:02:33  2021-01-05 10:40:38   1.00000          0.00000             0.00000    30
182 5.00000 2021-01-11 17:04:13  2020-12-06 10:26:46 100.00000          0.00000             0.00000    30
183 5.00000 2021-01-11 14:06:01  2021-01-11 05:14:47   1.00000          0.00000             0.00000    30
184 4.50000 2021-01-11 13:18:31  2021-01-05 11:32:42  30.00000          1.00000             0.00000    30
185 5.00000 2021-01-11 12:37:32  2020-12-21 22:06:12   5.00000          0.00000             0.00000    30
186 5.00000 2021-01-11 11:36:39  2020-11-08 07:51:37  10.00000          0.00000             0.00000    30

In [14]:
# son 30 gun icindeki yorum sayisi
df[df['days']<=30].count()

Rating                192
Timestamp             192
Enrolled              192
Progress              192
Questions Asked       192
Questions Answered    192
days                  192
dtype: int64

In [15]:
# rating ortalamasi
df.loc[df['days']<=30,'Rating'].mean()

np.float64(4.7734375)

In [16]:
# 30'dan buyuk, 90'dan kucuk degerlerin rating ortalamasi
df.loc[(df['days']>30) & (df['days']<=90),'Rating'].mean()

np.float64(4.76195219123506)

In [17]:
#90 dan buyuk, 180 den kucuk degerlerin ortalamasi
df.loc[(df['days']>90)& (df['days']<=180),'Rating'].mean()

np.float64(4.754297994269341)

In [18]:
#180 den buyuk degerlerin ortalamasi
df.loc[(df['days']>180),'Rating'].mean()

np.float64(4.766461958375981)

In [19]:
# agirlik ortalamasi
df.loc[df['days']<=30,'Rating'].mean()*28/100 + \
df.loc[(df['days']>30) & (df['days']<=90),'Rating'].mean()*26/100+\
df.loc[(df['days']>90)& (df['days']<=180),'Rating'].mean()*24/100+\
df.loc[(df['days']>180),'Rating'].mean()*22/100

np.float64(4.764323219188473)

In [20]:
#fonksiyonlastirma
def time_based_weighted_average(dataframe,w1=28,w2=26,w3=24,w4=22):
  return dataframe.loc[df['days']<=30,'Rating'].mean() * w1 /100 + \
  dataframe.loc[(df['days']>30) & (df['days']<=90),'Rating'].mean() * w2 /100 + \
  dataframe.loc[(df['days']>90)& (df['days']<=180),'Rating'].mean() * w3 /100 +\
dataframe.loc[(df['days']>180),'Rating'].mean() * w4 /100

time_based_weighted_average(df)

np.float64(4.764323219188473)

In [21]:
time_based_weighted_average(df,30,25,22,27)

np.float64(4.955409585309535)

# User - Based Weighted Average

In [22]:
df.groupby('Progress').agg({'Rating':'mean'})

           Rating
Progress
0.00000   4.67391
1.00000   4.64269
2.00000   4.65476
3.00000   4.66355
4.00000   4.77733
5.00000   4.69821
6.00000   4.75510
7.00000   4.73256
8.00000   4.74194
9.00000   4.83125
10.00000  4.74569
11.00000  4.83333
12.00000  4.83333
13.00000  4.59375
14.00000  4.86957
15.00000  4.71458
16.00000  4.90000
17.00000  4.85000
18.00000  4.87500
19.00000  4.81250
20.00000  4.78352
21.00000  4.80000
22.00000  4.60000
23.00000  4.84615
24.00000  4.73333
25.00000  4.81687
26.00000  5.00000
27.00000  4.81250
28.00000  4.94444
29.00000  4.57692
30.00000  4.79808
31.00000  4.91667
32.00000  5.00000
33.00000  4.93750
34.00000  4.75000
35.00000  4.85959
36.00000  4.33333
37.00000  5.00000
38.00000  4.90000
39.00000  4.58333
40.00000  4.76786
41.00000  3.16667
42.00000  5.00000
43.00000  5.00000
44.00000  4.95455
45.00000  4.80769
46.00000  5.00000
47.00000  5.00000
48.00000  5.00000
49.00000  5.00000
50.00000  4.80198
51.00000  4.50000
52.00000  5.00000
53.00000  4.85714
54.00000  4.94444
55.00000  4.77660
56.00000  5.00000
57.00000  5.00000
58.00000  4.50000
59.00000  5.00000
60.00000  4.78947
61.00000  5.00000
62.00000  5.00000
63.00000  4.80000
64.00000  4.81250
65.00000  4.84314
66.00000  5.00000
67.00000  5.00000
69.00000  5.00000
70.00000  4.78947
71.00000  5.00000
72.00000  5.00000
73.00000  5.00000
74.00000  5.00000
75.00000  4.93750
77.00000  5.00000
78.00000  5.00000
80.00000  4.75000
83.00000  5.00000
84.00000  5.00000
85.00000  4.91379
87.00000  5.00000
89.00000  4.79412
90.00000  4.92308
91.00000  5.00000
93.00000  4.83333
94.00000  5.00000
95.00000  4.79412
97.00000  5.00000
98.00000  5.00000
100.00000 4.86632

In [23]:
df.loc[df['Progress']<=10,'Rating'].mean()* 22 / 100 + \
df.loc[(df['Progress']<10)&(df['Progress']<=45),'Rating'].mean() * 24 /100 +\
df.loc[(df['Progress']>45)&(df['Progress']<=75),'Rating'].mean() * 26 / 100 + \
df.loc[df['Progress']>75,'Rating'].mean() * 28 / 100

np.float64(4.779381766790847)

In [25]:
# fonksiyonlastirma
def user_based_weighted_average(dataframe,w1=22,w2=24,w3=26,w4=28):
  return dataframe.loc[dataframe['Progress']<=10,'Rating'].mean()* w1 / 100 + \
  dataframe.loc[(dataframe['Progress']<10)&(dataframe['Progress']<=45),'Rating'].mean() * w2 /100 +\
  dataframe.loc[(dataframe['Progress']>45)&(dataframe['Progress']<=75),'Rating'].mean() * w3 / 100 + \
  dataframe.loc[dataframe['Progress']>75,'Rating'].mean() * w4 / 100

user_based_weighted_average(df)

np.float64(4.779381766790847)

# Weighted Rating

In [26]:
def course_weighted_rating(dataframe,time_w=50,user_w=50):
  return time_based_weighted_average(dataframe) * time_w/100 + user_based_weighted_average(dataframe) * user_w/100


course_weighted_rating(df)

np.float64(4.77185249298966)

In [27]:
course_weighted_rating(df,time_w=40,user_w=60)

np.float64(4.773358347749897)